<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nuclear Fission{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body id="top">
    <header>
        <h1>{% block header_title %}Nuclear Fission & Fusion{% endblock %}</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('questions') }}">Questions</a>
            <a href="https://phet.colorado.edu/en/simulations/nuclear-fission" target="_blank">Simulation</a>
            <a href="https://docs.google.com/presentation/d/19MmgJ4sX1Tqrc0oBWEzfBahzBRccRsGZ0LAhJD8ZKLI/edit?usp=sharing" target="_blank">Slideshow</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <img src="{{ url_for('static', filename='background.jpg') }}" alt="work please">
            <!--<div class="bottom-left">Nuclear Fission</div>-->
            <!--<div class="top-left">TopLeft</div>-->
            <!--<div class="top-right">TopRight</div>-->
            <div class="bottom-right">Nuclear</div>
            <div class="bottomer-right">Fission</div>
            <!--<div class="centered">Centered</div>-->
        </div>
    </main>
</body>

</html>